

    <pre>
        {{ dump() }}
    </pre>
    <div class="row">
     Calendar:
        <table class="table">
        <caption >September</caption>
        <thead>
            <tr>
            <th scope="col">Mon</th>
            <th scope="col">Tue</th>
            <th scope="col">Wed</th>
            <th scope="col">Thu</th>
            <th scope="col">Fri</th>
            <th scope="col">Sat</th>
            <th scope="col">Sun</th>
            </tr>
        </thead>
        <tbody>
            {# {% for  i in 0..5 %}
                <tr id="{{i}}">
                {% for j in 1..7 %}
                    <td id="{{i}}{{j}}">{{i}}{{j}}</td>
                {% endfor %}
                </tr>
            {% endfor %} #}
            {% for  row in calendarArray %}
                <tr id="">
                {% for day in row %}
                    <td id="" class="{{day.status}}">{{day.number}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>