{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
<div class="container-md mt-5">

 <div  id="form-container" class="row justify-content-center">
        <div class="col-auto justify-content-center col-10 mb-4">
        <div class="vote-form date ">
            <h1 class="display-6 form-date ">{{date|date("Y-m-d")}}</h1>
            
        </div> 
        <div class="vote-form "> 
        <label for="amount"><h1 class="display-6">Time: </h1></label>  
        </div> 
        <div class="vote-form "> 
        <input class="time-display" type="text" id="amount" readonly style="">
        </div>

        <div id="slider-range"></div>
            
            <div>
            {{ form(form) }}
        </div>
    </div>    
    <div class="row justify-content-center mt-3">
     <div class="col-auto col-6 p-0">
        {% include 'game/comp/calendar.html.twig' with {  calendarArray : calendarArray } %}
        </div>
        <div class="col-auto col-4 ">
            <div class="party-name">
                <h1 class="display-5">
                    <b>Party name:</b> {{game.name}}
                </h1>
            </div>

            <div class="activity-name">
                <h1 class="display-6">
                    <b>Activity:</b> {{game.title}}
                </h1>
            </div>
            
            <div class="members">
                <p class="lead">
                    <b>Members ({{game.players|length}}):</b>   | 
                    {% for player in game.players %}
                        {{player.username}} | 
                    {% endfor %}
                </p>
            </div>            
            <div class="members">
                {# <p class="lead"> #}
                <p class="fw-light">
                    {{game.description}}
                </p>
            </div>
               
        </div>
       
    </div>

    {# <div class="row"> #}
   
    
    {# <div class="row mt-5">
        
        {% include 'game/comp/calendar.html.twig' with {  calendarArray : calendarArray } %}
    </div> #}
    
</div>
{% endblock %}
