{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container-md mt-3">

<div class="row justify-content-center ">
    <div class="col-9 bg-light">
        {{ form_start(form) }}

        <div class="d-flex flex-row justify-content-center">
            {# errors #}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>
            <div class="p-2 ">
                <h1 id='load-date'class="display-6 form-date m-0">{{date|date("Y-m-d")}}</h1>

            </div>
            <div class="p-2 ">
                {{ form_row(form.vote) }}
            </div>
            <div class="p-2 ">
                <label for="amount"><h1 class="display-6 m-0">Time: </h1></label>  
            </div>
            <div class="p-2 ">
                <input class="time-display" type="text" id="amount" readonly style="">
            </div>
        </div>
        <!-- SLIDER -->
        <div class="d-flex flex-row justify-content-center">
            <div class="p-2 w-80 flex-fill">
                <div id="slider-range" class="mt-4 mb-3"></div>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-center align-items-center">
            <div id="my-votes" class="p-2 lead me-auto">
                {# VOTE DISPLAY IN THIS CONTAINER #}
            </div>
            <div class="p-2 lead">
                Max time (min):
            </div>
            <div class="p-2 ">
                {{ form_row(form.maxLength) }}
            </div>
            <div class="p-2 ">
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>


</div>    
    
    <div class="row justify-content-center mt-3">
     <div class="col-auto col-6 p-0">
        {% include 'game/comp/calendar.html.twig' with {  calendarArray : calendarArray } %}
        </div>
        <div class="col-auto col-4 ">
            <div id="{{game.id}}" class="party-name">
                <h1 class="display-5">
                    <b>Party name:</b> {{game.name}}
                </h1>
            </div>

            <div class="activity-name">
                <h1 class="display-6">
                    <b>Activity:</b> {{game.title}}
                </h1>
            </div>
            
            <div class="members">
                <p class="lead">
                    <b>Members ({{game.players|length}}):</b>   | 
                    {% for player in game.players %}
                        {{player.username}} | 
                    {% endfor %}
                </p>
            </div>            
            <div class="members">
                {# <p class="lead"> #}
                <p class="fw-light">
                    {{game.description}}
                </p>
            </div>
               
        </div>
       
    </div>

    {# <div class="row"> #}
   
    
    {# <div class="row mt-5">
        
        {% include 'game/comp/calendar.html.twig' with {  calendarArray : calendarArray } %}
    </div> #}
    
</div>
{% endblock %}
