{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container-md mt-3">

<div class="row justify-content-center ">
    <div class="col-9 bg-light">
        {{ form_start(form) }}

        <div class="d-flex flex-row justify-content-center w-60">
            {# errors #}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>
            <div class="p-2 ">
                <h1 class="display-6 form-date m-0">{{date|date("Y-m-d")}}</h1>
            </div>
            <div class="p-2 ">
                {{ form_row(form.vote) }}
            </div>
            <div class="p-2 ">
                <label for="amount"><h1 class="display-6 m-0">Time: </h1></label>  
            </div>
            <div class="p-2 ">
                <input class="time-display" type="text" id="amount" readonly style="">
            </div>
        </div>
        <!-- SLIDER -->
        <div class="d-flex flex-row justify-content-center">
            <div class="p-2 w-80 flex-fill">
                <div id="slider-range" class="mt-4 mb-3"></div>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-center align-items-center">
            <div class="p-2 lead me-auto">
                <b>My Votes:</b> 13:24-14:35 | 18:44-20:35 
                {# | 18:44-20:35 | 18:44-20:35 | 18:44-20:35 | 18:44-20:35 | #}
            </div>
            <div class="p-2 lead">
                Max time (min):
            </div>
            <div class="p-2 ">
                {{ form_row(form.maxLength) }}
            </div>
            <div class="p-2 ">
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{# 
{{ form_start(form) }}
    <div class="row justify-content-center">
        <div class="col-auto justify-content-center">
            
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>
            <div class="vote-form date">
                <h1 class="display-6 form-date m-0">{{date|date("Y-m-d")}}</h1>
            </div> 
            <div class="vote-form date">
                {{ form_row(form.vote) }}
            </div>
            <div class="vote-form "> 
                <label for="amount"><h1 class="display-6 m-0">Time: </h1></label>  
            </div>
            <!-- time display from slider -->

            <div class="vote-form"> 
                <input class="time-display" type="text" id="amount" readonly style="">
            </div>

            <!-- SLIDER -->
            <div id="slider-range" class="mt-4 mb-4">
            </div>
            <div class="row align-items-center">
                <div class="col-auto ">
                    <div class="vote-form lead"> 
                    <b>My Votes:</b> 13:24-14:35 | 18:44-20:35 |
                    | 18:44-20:35 || 18:44-20:35 || 18:44-20:35 || 18:44-20:35 |
                    </div>
                </div>
                <div class="col-auto me-auto">

                    <div class="vote-form lead align-self-end"> 
                    Max time (min):
                    </div>
                    <div class="vote-form time-input date align-self-end"> 
                    {{ form_row(form.maxLength) }}
                    </div>
                    <div class="vote-form align-self-end"> 
                    {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
     #}

</div>    
    
    <div class="row justify-content-center mt-3">
     <div class="col-auto col-6 p-0">
        {% include 'game/comp/calendar.html.twig' with {  calendarArray : calendarArray } %}
        </div>
        <div class="col-auto col-4 ">
            <div class="party-name">
                <h1 class="display-5">
                    <b>Party name:</b> {{game.name}}
                </h1>
            </div>

            <div class="activity-name">
                <h1 class="display-6">
                    <b>Activity:</b> {{game.title}}
                </h1>
            </div>
            
            <div class="members">
                <p class="lead">
                    <b>Members ({{game.players|length}}):</b>   | 
                    {% for player in game.players %}
                        {{player.username}} | 
                    {% endfor %}
                </p>
            </div>            
            <div class="members">
                {# <p class="lead"> #}
                <p class="fw-light">
                    {{game.description}}
                </p>
            </div>
               
        </div>
       
    </div>

    {# <div class="row"> #}
   
    
    {# <div class="row mt-5">
        
        {% include 'game/comp/calendar.html.twig' with {  calendarArray : calendarArray } %}
    </div> #}
    
</div>
{% endblock %}
